# Deploy the game to itch

name: Deploy Itch
# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

jobs:
  deploy_itch:
    runs-on: ubuntu-latest
    steps:
    - uses: josephbmanley/butler-publish-itchio-action@v1.0.2
      env:
        BUTLER_CREDENTIALS: ${{ secrets.BUTLER_CREDENTIALS }}
        CHANNEL: html
        ITCH_GAME: operation-moonshot
        ITCH_USER: wedgybo
        PACKAGE: dist